<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="formeProd">
            <h2><span jhiTranslate="hpdApp.formeProd.detail.title">Forme Prod</span> {{ formeProd.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hpdApp.formeProd.codeFormeProd">Code Forme Prod</span></dt>
                <dd>
                    <span>{{ formeProd.codeFormeProd }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.formeProd.libelleFormeProd">Libelle Forme Prod</span></dt>
                <dd>
                    <span>{{ formeProd.libelleFormeProd }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.formeProd.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ formeProd.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.formeProd.dateUpdated">Date Updated</span></dt>
                <dd>
                    <span>{{ formeProd.dateUpdated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.formeProd.userCreated">User Created</span></dt>
                <dd>
                    <span>{{ formeProd.userCreated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.formeProd.userUpdated">User Updated</span></dt>
                <dd>
                    <span>{{ formeProd.userUpdated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.formeProd.userDeleted">User Deleted</span></dt>
                <dd>
                    <span>{{ formeProd.userDeleted }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/forme-prod', formeProd.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
