<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.formeProd.home.title">Forme Prods</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-forme-prod" [routerLink]="['/forme-prod/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.formeProd.home.createLabel">
            Create a new Forme Prod
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="formeProds?.length === 0">
        <span jhiTranslate="hpdApp.formeProd.home.notFound">No formeProds found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="formeProds?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeFormeProd"><span jhiTranslate="hpdApp.formeProd.codeFormeProd">Code Forme Prod</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleFormeProd"><span jhiTranslate="hpdApp.formeProd.libelleFormeProd">Libelle Forme Prod</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.formeProd.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.formeProd.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.formeProd.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.formeProd.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.formeProd.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let formeProd of formeProds ;trackBy: trackId">
                    <td><a [routerLink]="['/forme-prod', formeProd.id, 'view']">{{ formeProd.id }}</a></td>
                    <td>{{ formeProd.codeFormeProd }}</td>
                    <td>{{ formeProd.libelleFormeProd }}</td>
                    <td>{{ formeProd.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ formeProd.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ formeProd.userCreated }}</td>
                    <td>{{ formeProd.userUpdated }}</td>
                    <td>{{ formeProd.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/forme-prod', formeProd.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/forme-prod', formeProd.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(formeProd)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
