<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.modeRegle.home.title">Mode Regles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mode-regle" [routerLink]="['/mode-regle/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.modeRegle.home.createLabel">
            Create a new Mode Regle
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="modeRegles?.length === 0">
        <span jhiTranslate="hpdApp.modeRegle.home.notFound">No modeRegles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="modeRegles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeModeRegle"><span jhiTranslate="hpdApp.modeRegle.codeModeRegle">Code Mode Regle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleModeRegle"><span jhiTranslate="hpdApp.modeRegle.libelleModeRegle">Libelle Mode Regle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.modeRegle.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.modeRegle.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.modeRegle.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.modeRegle.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.modeRegle.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let modeRegle of modeRegles ;trackBy: trackId">
                    <td><a [routerLink]="['/mode-regle', modeRegle.id, 'view']">{{ modeRegle.id }}</a></td>
                    <td>{{ modeRegle.codeModeRegle }}</td>
                    <td>{{ modeRegle.libelleModeRegle }}</td>
                    <td>{{ modeRegle.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ modeRegle.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ modeRegle.userCreated }}</td>
                    <td>{{ modeRegle.userUpdated }}</td>
                    <td>{{ modeRegle.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/mode-regle', modeRegle.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/mode-regle', modeRegle.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(modeRegle)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
