<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.typeAntecedent.home.title">Type Antecedents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-antecedent" [routerLink]="['/type-antecedent/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.typeAntecedent.home.createLabel">
            Create a new Type Antecedent
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typeAntecedents?.length === 0">
        <span jhiTranslate="hpdApp.typeAntecedent.home.notFound">No typeAntecedents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typeAntecedents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeTypeAntecedent"><span jhiTranslate="hpdApp.typeAntecedent.codeTypeAntecedent">Code Type Antecedent</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleTypeAntecedent"><span jhiTranslate="hpdApp.typeAntecedent.libelleTypeAntecedent">Libelle Type Antecedent</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.typeAntecedent.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.typeAntecedent.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.typeAntecedent.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.typeAntecedent.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.typeAntecedent.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let typeAntecedent of typeAntecedents ;trackBy: trackId">
                    <td><a [routerLink]="['/type-antecedent', typeAntecedent.id, 'view']">{{ typeAntecedent.id }}</a></td>
                    <td>{{ typeAntecedent.codeTypeAntecedent }}</td>
                    <td>{{ typeAntecedent.libelleTypeAntecedent }}</td>
                    <td>{{ typeAntecedent.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ typeAntecedent.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ typeAntecedent.userCreated }}</td>
                    <td>{{ typeAntecedent.userUpdated }}</td>
                    <td>{{ typeAntecedent.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/type-antecedent', typeAntecedent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/type-antecedent', typeAntecedent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(typeAntecedent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
