<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.tabAmortis.home.title">Tab Amortis</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tab-amortis" [routerLink]="['/tab-amortis/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.tabAmortis.home.createLabel">
            Create a new Tab Amortis
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tabAmortis?.length === 0">
        <span jhiTranslate="hpdApp.tabAmortis.home.notFound">No tabAmortis found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tabAmortis?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelle"><span jhiTranslate="hpdApp.tabAmortis.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montant"><span jhiTranslate="hpdApp.tabAmortis.montant">Montant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="hpdApp.tabAmortis.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etat"><span jhiTranslate="hpdApp.tabAmortis.etat">Etat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.tabAmortis.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.tabAmortis.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDeleted"><span jhiTranslate="hpdApp.tabAmortis.dateDeleted">Date Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.tabAmortis.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.tabAmortis.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.tabAmortis.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let tabAmortis of tabAmortis ;trackBy: trackId">
                    <td><a [routerLink]="['/tab-amortis', tabAmortis.id, 'view']">{{ tabAmortis.id }}</a></td>
                    <td>{{ tabAmortis.libelle }}</td>
                    <td>{{ tabAmortis.montant }}</td>
                    <td>{{ tabAmortis.date | date:'mediumDate' }}</td>
                    <td>{{ tabAmortis.etat }}</td>
                    <td>{{ tabAmortis.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ tabAmortis.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ tabAmortis.dateDeleted | date:'mediumDate' }}</td>
                    <td>{{ tabAmortis.userCreated }}</td>
                    <td>{{ tabAmortis.userUpdated }}</td>
                    <td>{{ tabAmortis.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tab-amortis', tabAmortis.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tab-amortis', tabAmortis.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tabAmortis)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
