<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.typeProd.home.title">Type Prods</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-prod" [routerLink]="['/type-prod/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.typeProd.home.createLabel">
            Create a new Type Prod
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typeProds?.length === 0">
        <span jhiTranslate="hpdApp.typeProd.home.notFound">No typeProds found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typeProds?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeTypeProd"><span jhiTranslate="hpdApp.typeProd.codeTypeProd">Code Type Prod</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleTypeProd"><span jhiTranslate="hpdApp.typeProd.libelleTypeProd">Libelle Type Prod</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.typeProd.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.typeProd.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.typeProd.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.typeProd.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.typeProd.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let typeProd of typeProds ;trackBy: trackId">
                    <td><a [routerLink]="['/type-prod', typeProd.id, 'view']">{{ typeProd.id }}</a></td>
                    <td>{{ typeProd.codeTypeProd }}</td>
                    <td>{{ typeProd.libelleTypeProd }}</td>
                    <td>{{ typeProd.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ typeProd.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ typeProd.userCreated }}</td>
                    <td>{{ typeProd.userUpdated }}</td>
                    <td>{{ typeProd.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/type-prod', typeProd.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/type-prod', typeProd.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(typeProd)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
