<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.typeMagasin.home.title">Type Magasins</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-magasin" [routerLink]="['/type-magasin/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.typeMagasin.home.createLabel">
            Create a new Type Magasin
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typeMagasins?.length === 0">
        <span jhiTranslate="hpdApp.typeMagasin.home.notFound">No typeMagasins found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typeMagasins?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeTypeMagasin"><span jhiTranslate="hpdApp.typeMagasin.codeTypeMagasin">Code Type Magasin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleTypeMagasin"><span jhiTranslate="hpdApp.typeMagasin.libelleTypeMagasin">Libelle Type Magasin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.typeMagasin.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.typeMagasin.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.typeMagasin.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.typeMagasin.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.typeMagasin.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let typeMagasin of typeMagasins ;trackBy: trackId">
                    <td><a [routerLink]="['/type-magasin', typeMagasin.id, 'view']">{{ typeMagasin.id }}</a></td>
                    <td>{{ typeMagasin.codeTypeMagasin }}</td>
                    <td>{{ typeMagasin.libelleTypeMagasin }}</td>
                    <td>{{ typeMagasin.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ typeMagasin.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ typeMagasin.userCreated }}</td>
                    <td>{{ typeMagasin.userUpdated }}</td>
                    <td>{{ typeMagasin.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/type-magasin', typeMagasin.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/type-magasin', typeMagasin.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(typeMagasin)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
