<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.etatCaisse.home.title">Etat Caisses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-etat-caisse" [routerLink]="['/etat-caisse/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.etatCaisse.home.createLabel">
            Create a new Etat Caisse
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="etatCaisses?.length === 0">
        <span jhiTranslate="hpdApp.etatCaisse.home.notFound">No etatCaisses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="etatCaisses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="hpdApp.etatCaisse.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelle"><span jhiTranslate="hpdApp.etatCaisse.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.etatCaisse.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.etatCaisse.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDeleted"><span jhiTranslate="hpdApp.etatCaisse.dateDeleted">Date Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.etatCaisse.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.etatCaisse.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.etatCaisse.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let etatCaisse of etatCaisses ;trackBy: trackId">
                    <td><a [routerLink]="['/etat-caisse', etatCaisse.id, 'view']">{{ etatCaisse.id }}</a></td>
                    <td>{{ etatCaisse.code }}</td>
                    <td>{{ etatCaisse.libelle }}</td>
                    <td>{{ etatCaisse.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ etatCaisse.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ etatCaisse.dateDeleted | date:'mediumDate' }}</td>
                    <td>{{ etatCaisse.userCreated }}</td>
                    <td>{{ etatCaisse.userUpdated }}</td>
                    <td>{{ etatCaisse.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/etat-caisse', etatCaisse.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/etat-caisse', etatCaisse.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(etatCaisse)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
