<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.paramSys.home.title">Param Sys</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-param-sys" [routerLink]="['/param-sys/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.paramSys.home.createLabel">
            Create a new Param Sys
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="paramSys?.length === 0">
        <span jhiTranslate="hpdApp.paramSys.home.notFound">No paramSys found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="paramSys?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeParamSys"><span jhiTranslate="hpdApp.paramSys.codeParamSys">Code Param Sys</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleParamSys"><span jhiTranslate="hpdApp.paramSys.libelleParamSys">Libelle Param Sys</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.paramSys.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.paramSys.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.paramSys.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.paramSys.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.paramSys.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let paramSys of paramSys ;trackBy: trackId">
                    <td><a [routerLink]="['/param-sys', paramSys.id, 'view']">{{ paramSys.id }}</a></td>
                    <td>{{ paramSys.codeParamSys }}</td>
                    <td>{{ paramSys.libelleParamSys }}</td>
                    <td>{{ paramSys.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ paramSys.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ paramSys.userCreated }}</td>
                    <td>{{ paramSys.userUpdated }}</td>
                    <td>{{ paramSys.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/param-sys', paramSys.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/param-sys', paramSys.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(paramSys)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
