<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-horaire-con-heading" jhiTranslate="hpdApp.horaireCon.home.createOrEditLabel">Create or edit a Horaire Con</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.horaireCon.heureDebutHC" for="field_heureDebutHC">Heure Debut HC</label>
                    <div class="input-group">
                        <input id="field_heureDebutHC" type="text" class="form-control" name="heureDebutHC" ngbDatepicker #heureDebutHCDp="ngbDatepicker" formControlName="heureDebutHC"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="heureDebutHCDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.horaireCon.heureFinHC" for="field_heureFinHC">Heure Fin HC</label>
                    <div class="input-group">
                        <input id="field_heureFinHC" type="text" class="form-control" name="heureFinHC" ngbDatepicker #heureFinHCDp="ngbDatepicker" formControlName="heureFinHC"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="heureFinHCDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.horaireCon.dateDebutHC" for="field_dateDebutHC">Date Debut HC</label>
                    <div class="input-group">
                        <input id="field_dateDebutHC" type="text" class="form-control" name="dateDebutHC" ngbDatepicker #dateDebutHCDp="ngbDatepicker" formControlName="dateDebutHC"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDebutHCDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.horaireCon.dateFinHC" for="field_dateFinHC">Date Fin HC</label>
                    <div class="input-group">
                        <input id="field_dateFinHC" type="text" class="form-control" name="dateFinHC" ngbDatepicker #dateFinHCDp="ngbDatepicker" formControlName="dateFinHC"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFinHCDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.horaireCon.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="input-group">
                        <input id="field_dateCreated" type="text" class="form-control" name="dateCreated" ngbDatepicker #dateCreatedDp="ngbDatepicker" formControlName="dateCreated"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateCreatedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.horaireCon.dateUpdated" for="field_dateUpdated">Date Updated</label>
                    <div class="input-group">
                        <input id="field_dateUpdated" type="text" class="form-control" name="dateUpdated" ngbDatepicker #dateUpdatedDp="ngbDatepicker" formControlName="dateUpdated"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateUpdatedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.horaireCon.dateDeleted" for="field_dateDeleted">Date Deleted</label>
                    <div class="input-group">
                        <input id="field_dateDeleted" type="text" class="form-control" name="dateDeleted" ngbDatepicker #dateDeletedDp="ngbDatepicker" formControlName="dateDeleted"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDeletedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.horaireCon.userCreated" for="field_userCreated">User Created</label>
                    <input type="number" class="form-control" name="userCreated" id="field_userCreated"
                           formControlName="userCreated"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.horaireCon.userUpdated" for="field_userUpdated">User Updated</label>
                    <input type="number" class="form-control" name="userUpdated" id="field_userUpdated"
                           formControlName="userUpdated"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.horaireCon.userDeleted" for="field_userDeleted">User Deleted</label>
                    <input type="number" class="form-control" name="userDeleted" id="field_userDeleted"
                           formControlName="userDeleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.horaireCon.jour" for="field_jour">Jour</label>
                    <select class="form-control" id="field_jour" name="jour" formControlName="jour">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="jourOption.id === editForm.get('jour')!.value?.id ? editForm.get('jour')!.value : jourOption" *ngFor="let jourOption of jours; trackBy: trackById">{{ jourOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
