<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.horaireCon.home.title">Horaire Cons</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-horaire-con" [routerLink]="['/horaire-con/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.horaireCon.home.createLabel">
            Create a new Horaire Con
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="horaireCons?.length === 0">
        <span jhiTranslate="hpdApp.horaireCon.home.notFound">No horaireCons found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="horaireCons?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="heureDebutHC"><span jhiTranslate="hpdApp.horaireCon.heureDebutHC">Heure Debut HC</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="heureFinHC"><span jhiTranslate="hpdApp.horaireCon.heureFinHC">Heure Fin HC</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDebutHC"><span jhiTranslate="hpdApp.horaireCon.dateDebutHC">Date Debut HC</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateFinHC"><span jhiTranslate="hpdApp.horaireCon.dateFinHC">Date Fin HC</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.horaireCon.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.horaireCon.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDeleted"><span jhiTranslate="hpdApp.horaireCon.dateDeleted">Date Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.horaireCon.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.horaireCon.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.horaireCon.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="jour.id"><span jhiTranslate="hpdApp.horaireCon.jour">Jour</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let horaireCon of horaireCons ;trackBy: trackId">
                    <td><a [routerLink]="['/horaire-con', horaireCon.id, 'view']">{{ horaireCon.id }}</a></td>
                    <td>{{ horaireCon.heureDebutHC | date:'mediumDate' }}</td>
                    <td>{{ horaireCon.heureFinHC | date:'mediumDate' }}</td>
                    <td>{{ horaireCon.dateDebutHC | date:'mediumDate' }}</td>
                    <td>{{ horaireCon.dateFinHC | date:'mediumDate' }}</td>
                    <td>{{ horaireCon.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ horaireCon.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ horaireCon.dateDeleted | date:'mediumDate' }}</td>
                    <td>{{ horaireCon.userCreated }}</td>
                    <td>{{ horaireCon.userUpdated }}</td>
                    <td>{{ horaireCon.userDeleted }}</td>
                    <td>
                        <div *ngIf="horaireCon.jour">
                            <a [routerLink]="['/jour', horaireCon.jour?.id, 'view']" >{{ horaireCon.jour?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/horaire-con', horaireCon.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/horaire-con', horaireCon.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(horaireCon)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
