<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.inventaire.home.title">Inventaires</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inventaire" [routerLink]="['/inventaire/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.inventaire.home.createLabel">
            Create a new Inventaire
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="inventaires?.length === 0">
        <span jhiTranslate="hpdApp.inventaire.home.notFound">No inventaires found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="inventaires?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="hpdApp.inventaire.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="hpdApp.inventaire.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantiteEntrant"><span jhiTranslate="hpdApp.inventaire.quantiteEntrant">Quantite Entrant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantiteInitiale"><span jhiTranslate="hpdApp.inventaire.quantiteInitiale">Quantite Initiale</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantiteSortant"><span jhiTranslate="hpdApp.inventaire.quantiteSortant">Quantite Sortant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombreSortant"><span jhiTranslate="hpdApp.inventaire.nombreSortant">Nombre Sortant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombreLivraison"><span jhiTranslate="hpdApp.inventaire.nombreLivraison">Nombre Livraison</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombreRetour"><span jhiTranslate="hpdApp.inventaire.nombreRetour">Nombre Retour</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="produit.id"><span jhiTranslate="hpdApp.inventaire.produit">Produit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let inventaire of inventaires ;trackBy: trackId">
                    <td><a [routerLink]="['/inventaire', inventaire.id, 'view']">{{ inventaire.id }}</a></td>
                    <td>{{ inventaire.code }}</td>
                    <td>{{ inventaire.date }}</td>
                    <td>{{ inventaire.quantiteEntrant }}</td>
                    <td>{{ inventaire.quantiteInitiale }}</td>
                    <td>{{ inventaire.quantiteSortant }}</td>
                    <td>{{ inventaire.nombreSortant }}</td>
                    <td>{{ inventaire.nombreLivraison }}</td>
                    <td>{{ inventaire.nombreRetour }}</td>
                    <td>
                        <div *ngIf="inventaire.produit">
                            <a [routerLink]="['/produit', inventaire.produit?.id, 'view']" >{{ inventaire.produit?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/inventaire', inventaire.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/inventaire', inventaire.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(inventaire)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
