<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-inventaire-heading" jhiTranslate="hpdApp.inventaire.home.createOrEditLabel">Create or edit a Inventaire</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.inventaire.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.inventaire.date" for="field_date">Date</label>
                    <input type="text" class="form-control" name="date" id="field_date"
                           formControlName="date"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.inventaire.quantiteEntrant" for="field_quantiteEntrant">Quantite Entrant</label>
                    <input type="number" class="form-control" name="quantiteEntrant" id="field_quantiteEntrant"
                           formControlName="quantiteEntrant"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.inventaire.quantiteInitiale" for="field_quantiteInitiale">Quantite Initiale</label>
                    <input type="number" class="form-control" name="quantiteInitiale" id="field_quantiteInitiale"
                           formControlName="quantiteInitiale"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.inventaire.quantiteSortant" for="field_quantiteSortant">Quantite Sortant</label>
                    <input type="number" class="form-control" name="quantiteSortant" id="field_quantiteSortant"
                           formControlName="quantiteSortant"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.inventaire.nombreSortant" for="field_nombreSortant">Nombre Sortant</label>
                    <input type="number" class="form-control" name="nombreSortant" id="field_nombreSortant"
                           formControlName="nombreSortant"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.inventaire.nombreLivraison" for="field_nombreLivraison">Nombre Livraison</label>
                    <input type="number" class="form-control" name="nombreLivraison" id="field_nombreLivraison"
                           formControlName="nombreLivraison"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.inventaire.nombreRetour" for="field_nombreRetour">Nombre Retour</label>
                    <input type="number" class="form-control" name="nombreRetour" id="field_nombreRetour"
                           formControlName="nombreRetour"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.inventaire.produit" for="field_produit">Produit</label>
                    <select class="form-control" id="field_produit" name="produit" formControlName="produit">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="produitOption.id === editForm.get('produit')!.value?.id ? editForm.get('produit')!.value : produitOption" *ngFor="let produitOption of produits; trackBy: trackById">{{ produitOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
