<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.plat.home.title">Plats</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plat" [routerLink]="['/plat/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.plat.home.createLabel">
            Create a new Plat
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="plats?.length === 0">
        <span jhiTranslate="hpdApp.plat.home.notFound">No plats found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="plats?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantite"><span jhiTranslate="hpdApp.plat.quantite">Quantite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeRepas"><span jhiTranslate="hpdApp.plat.typeRepas">Type Repas</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="hpdApp.plat.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typePlat.id"><span jhiTranslate="hpdApp.plat.typePlat">Type Plat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="serv.id"><span jhiTranslate="hpdApp.plat.serv">Serv</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let plat of plats ;trackBy: trackId">
                    <td><a [routerLink]="['/plat', plat.id, 'view']">{{ plat.id }}</a></td>
                    <td>{{ plat.quantite }}</td>
                    <td>{{ plat.typeRepas }}</td>
                    <td>{{ plat.date | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="plat.typePlat">
                            <a [routerLink]="['/type-plat', plat.typePlat?.id, 'view']" >{{ plat.typePlat?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="plat.serv">
                            <a [routerLink]="['/services', plat.serv?.id, 'view']" >{{ plat.serv?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/plat', plat.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/plat', plat.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(plat)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
