<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.departement.home.title">Departements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-departement" [routerLink]="['/departement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.departement.home.createLabel">
            Create a new Departement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="departements?.length === 0">
        <span jhiTranslate="hpdApp.departement.home.notFound">No departements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="departements?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeDepartement"><span jhiTranslate="hpdApp.departement.codeDepartement">Code Departement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleDepartement"><span jhiTranslate="hpdApp.departement.libelleDepartement">Libelle Departement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.departement.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.departement.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.departement.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.departement.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.departement.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="region.id"><span jhiTranslate="hpdApp.departement.region">Region</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let departement of departements ;trackBy: trackId">
                    <td><a [routerLink]="['/departement', departement.id, 'view']">{{ departement.id }}</a></td>
                    <td>{{ departement.codeDepartement }}</td>
                    <td>{{ departement.libelleDepartement }}</td>
                    <td>{{ departement.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ departement.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ departement.userCreated }}</td>
                    <td>{{ departement.userUpdated }}</td>
                    <td>{{ departement.userDeleted }}</td>
                    <td>
                        <div *ngIf="departement.region">
                            <a [routerLink]="['/region', departement.region?.id, 'view']" >{{ departement.region?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/departement', departement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/departement', departement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(departement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
