<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.fichier.home.title">Fichiers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fichier" [routerLink]="['/fichier/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.fichier.home.createLabel">
            Create a new Fichier
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fichiers?.length === 0">
        <span jhiTranslate="hpdApp.fichier.home.notFound">No fichiers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fichiers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cheminFichier"><span jhiTranslate="hpdApp.fichier.cheminFichier">Chemin Fichier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="formatFichier"><span jhiTranslate="hpdApp.fichier.formatFichier">Format Fichier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="separateurFichier"><span jhiTranslate="hpdApp.fichier.separateurFichier">Separateur Fichier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.fichier.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.fichier.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDeleted"><span jhiTranslate="hpdApp.fichier.dateDeleted">Date Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.fichier.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.fichier.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.fichier.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let fichier of fichiers ;trackBy: trackId">
                    <td><a [routerLink]="['/fichier', fichier.id, 'view']">{{ fichier.id }}</a></td>
                    <td>{{ fichier.cheminFichier }}</td>
                    <td>{{ fichier.formatFichier }}</td>
                    <td>{{ fichier.separateurFichier }}</td>
                    <td>{{ fichier.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ fichier.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ fichier.dateDeleted | date:'mediumDate' }}</td>
                    <td>{{ fichier.userCreated }}</td>
                    <td>{{ fichier.userUpdated }}</td>
                    <td>{{ fichier.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fichier', fichier.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fichier', fichier.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fichier)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
