<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.typePlat.home.title">Type Plats</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-plat" [routerLink]="['/type-plat/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.typePlat.home.createLabel">
            Create a new Type Plat
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typePlats?.length === 0">
        <span jhiTranslate="hpdApp.typePlat.home.notFound">No typePlats found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typePlats?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeTypePlat"><span jhiTranslate="hpdApp.typePlat.codeTypePlat">Code Type Plat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleTypePlat"><span jhiTranslate="hpdApp.typePlat.libelleTypePlat">Libelle Type Plat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.typePlat.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.typePlat.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.typePlat.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.typePlat.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.typePlat.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let typePlat of typePlats ;trackBy: trackId">
                    <td><a [routerLink]="['/type-plat', typePlat.id, 'view']">{{ typePlat.id }}</a></td>
                    <td>{{ typePlat.codeTypePlat }}</td>
                    <td>{{ typePlat.libelleTypePlat }}</td>
                    <td>{{ typePlat.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ typePlat.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ typePlat.userCreated }}</td>
                    <td>{{ typePlat.userUpdated }}</td>
                    <td>{{ typePlat.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/type-plat', typePlat.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/type-plat', typePlat.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(typePlat)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
