<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.devise.home.title">Devises</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-devise" [routerLink]="['/devise/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.devise.home.createLabel">
            Create a new Devise
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="devises?.length === 0">
        <span jhiTranslate="hpdApp.devise.home.notFound">No devises found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="devises?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeisoDvise"><span jhiTranslate="hpdApp.devise.codeisoDvise">Codeiso Dvise</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleDevise"><span jhiTranslate="hpdApp.devise.libelleDevise">Libelle Devise</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descriptionDevise"><span jhiTranslate="hpdApp.devise.descriptionDevise">Description Devise</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.devise.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.devise.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.devise.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.devise.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.devise.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let devise of devises ;trackBy: trackId">
                    <td><a [routerLink]="['/devise', devise.id, 'view']">{{ devise.id }}</a></td>
                    <td>{{ devise.codeisoDvise }}</td>
                    <td>{{ devise.libelleDevise }}</td>
                    <td>{{ devise.descriptionDevise }}</td>
                    <td>{{ devise.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ devise.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ devise.userCreated }}</td>
                    <td>{{ devise.userUpdated }}</td>
                    <td>{{ devise.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/devise', devise.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/devise', devise.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(devise)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
