<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-compte-heading" jhiTranslate="hpdApp.compte.home.createOrEditLabel">Create or edit a Compte</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.compte.numeroCompte" for="field_numeroCompte">Numero Compte</label>
                    <input type="number" class="form-control" name="numeroCompte" id="field_numeroCompte"
                           formControlName="numeroCompte"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.compte.libelleCompte" for="field_libelleCompte">Libelle Compte</label>
                    <input type="text" class="form-control" name="libelleCompte" id="field_libelleCompte"
                           formControlName="libelleCompte"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.compte.soldeCompte" for="field_soldeCompte">Solde Compte</label>
                    <input type="number" class="form-control" name="soldeCompte" id="field_soldeCompte"
                           formControlName="soldeCompte"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.compte.sensCompte" for="field_sensCompte">Sens Compte</label>
                    <input type="text" class="form-control" name="sensCompte" id="field_sensCompte"
                           formControlName="sensCompte"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.compte.cumulMouvDebit" for="field_cumulMouvDebit">Cumul Mouv Debit</label>
                    <input type="number" class="form-control" name="cumulMouvDebit" id="field_cumulMouvDebit"
                           formControlName="cumulMouvDebit"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.compte.cumulMouvCredit" for="field_cumulMouvCredit">Cumul Mouv Credit</label>
                    <input type="number" class="form-control" name="cumulMouvCredit" id="field_cumulMouvCredit"
                           formControlName="cumulMouvCredit"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.compte.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="input-group">
                        <input id="field_dateCreated" type="text" class="form-control" name="dateCreated" ngbDatepicker #dateCreatedDp="ngbDatepicker" formControlName="dateCreated"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateCreatedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.compte.dateUpdated" for="field_dateUpdated">Date Updated</label>
                    <div class="input-group">
                        <input id="field_dateUpdated" type="text" class="form-control" name="dateUpdated" ngbDatepicker #dateUpdatedDp="ngbDatepicker" formControlName="dateUpdated"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateUpdatedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.compte.dateDeleted" for="field_dateDeleted">Date Deleted</label>
                    <input type="number" class="form-control" name="dateDeleted" id="field_dateDeleted"
                           formControlName="dateDeleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.compte.userCreated" for="field_userCreated">User Created</label>
                    <input type="number" class="form-control" name="userCreated" id="field_userCreated"
                           formControlName="userCreated"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.compte.userUpdated" for="field_userUpdated">User Updated</label>
                    <input type="number" class="form-control" name="userUpdated" id="field_userUpdated"
                           formControlName="userUpdated"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.compte.userDeleted" for="field_userDeleted">User Deleted</label>
                    <input type="number" class="form-control" name="userDeleted" id="field_userDeleted"
                           formControlName="userDeleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.compte.compteGeneral" for="field_compteGeneral">Compte General</label>
                    <select class="form-control" id="field_compteGeneral" name="compteGeneral" formControlName="compteGeneral">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="compteGeneOption.id === editForm.get('compteGeneral')!.value?.id ? editForm.get('compteGeneral')!.value : compteGeneOption" *ngFor="let compteGeneOption of comptegenes; trackBy: trackById">{{ compteGeneOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.compte.patient" for="field_patient">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" formControlName="patient">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === editForm.get('patient')!.value?.id ? editForm.get('patient')!.value : patientOption" *ngFor="let patientOption of patients; trackBy: trackById">{{ patientOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
