<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.mouvement.home.title">Mouvements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mouvement" [routerLink]="['/mouvement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.mouvement.home.createLabel">
            Create a new Mouvement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="mouvements?.length === 0">
        <span jhiTranslate="hpdApp.mouvement.home.notFound">No mouvements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="mouvements?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeMvt"><span jhiTranslate="hpdApp.mouvement.codeMvt">Code Mvt</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleMvt"><span jhiTranslate="hpdApp.mouvement.libelleMvt">Libelle Mvt</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stockEntrant"><span jhiTranslate="hpdApp.mouvement.stockEntrant">Stock Entrant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stockSortant"><span jhiTranslate="hpdApp.mouvement.stockSortant">Stock Sortant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="produit.id"><span jhiTranslate="hpdApp.mouvement.produit">Produit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeMvtStock.id"><span jhiTranslate="hpdApp.mouvement.typeMvtStock">Type Mvt Stock</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let mouvement of mouvements ;trackBy: trackId">
                    <td><a [routerLink]="['/mouvement', mouvement.id, 'view']">{{ mouvement.id }}</a></td>
                    <td>{{ mouvement.codeMvt }}</td>
                    <td>{{ mouvement.libelleMvt }}</td>
                    <td>{{ mouvement.stockEntrant }}</td>
                    <td>{{ mouvement.stockSortant }}</td>
                    <td>
                        <div *ngIf="mouvement.produit">
                            <a [routerLink]="['/produit', mouvement.produit?.id, 'view']" >{{ mouvement.produit?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="mouvement.typeMvtStock">
                            <a [routerLink]="['/type-mvt-stock', mouvement.typeMvtStock?.id, 'view']" >{{ mouvement.typeMvtStock?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/mouvement', mouvement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/mouvement', mouvement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(mouvement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
