<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.boxe.home.title">Boxes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-boxe" [routerLink]="['/boxe/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.boxe.home.createLabel">
            Create a new Boxe
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="boxes?.length === 0">
        <span jhiTranslate="hpdApp.boxe.home.notFound">No boxes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="boxes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroBoxe"><span jhiTranslate="hpdApp.boxe.numeroBoxe">Numero Boxe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.boxe.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.boxe.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.boxe.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.boxe.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.boxe.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="chambre.id"><span jhiTranslate="hpdApp.boxe.chambre">Chambre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let boxe of boxes ;trackBy: trackId">
                    <td><a [routerLink]="['/boxe', boxe.id, 'view']">{{ boxe.id }}</a></td>
                    <td>{{ boxe.numeroBoxe }}</td>
                    <td>{{ boxe.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ boxe.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ boxe.userCreated }}</td>
                    <td>{{ boxe.userUpdated }}</td>
                    <td>{{ boxe.userDeleted }}</td>
                    <td>
                        <div *ngIf="boxe.chambre">
                            <a [routerLink]="['/chambre', boxe.chambre?.id, 'view']" >{{ boxe.chambre?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/boxe', boxe.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/boxe', boxe.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(boxe)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
