<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.caisse.home.title">Caisses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-caisse" [routerLink]="['/caisse/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.caisse.home.createLabel">
            Create a new Caisse
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="caisses?.length === 0">
        <span jhiTranslate="hpdApp.caisse.home.notFound">No caisses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="caisses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numero"><span jhiTranslate="hpdApp.caisse.numero">Numero</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="soldeMin"><span jhiTranslate="hpdApp.caisse.soldeMin">Solde Min</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="soldeMax"><span jhiTranslate="hpdApp.caisse.soldeMax">Solde Max</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montant"><span jhiTranslate="hpdApp.caisse.montant">Montant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.caisse.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.caisse.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDeleted"><span jhiTranslate="hpdApp.caisse.dateDeleted">Date Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.caisse.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.caisse.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.caisse.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let caisse of caisses ;trackBy: trackId">
                    <td><a [routerLink]="['/caisse', caisse.id, 'view']">{{ caisse.id }}</a></td>
                    <td>{{ caisse.numero }}</td>
                    <td>{{ caisse.soldeMin | date:'mediumDate' }}</td>
                    <td>{{ caisse.soldeMax }}</td>
                    <td>{{ caisse.montant }}</td>
                    <td>{{ caisse.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ caisse.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ caisse.dateDeleted | date:'mediumDate' }}</td>
                    <td>{{ caisse.userCreated }}</td>
                    <td>{{ caisse.userUpdated }}</td>
                    <td>{{ caisse.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/caisse', caisse.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/caisse', caisse.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(caisse)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
