<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-medecin-heading" jhiTranslate="hpdApp.medecin.home.createOrEditLabel">Create or edit a Medecin</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.nomMedecin" for="field_nomMedecin">Nom Medecin</label>
                    <input type="text" class="form-control" name="nomMedecin" id="field_nomMedecin"
                           formControlName="nomMedecin"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                </div>

                <div class="row">
                    <form  class="form-inline" (ngSubmit)="searchMedecin()" [formGroup]="searchForm">
                        <input type="text" placeholder="Rechercher" class="form-control" formControlName="nameSearch">
                        <button type="submit" [disabled]="searchForm.invalid" class="btn btn-primary"><fa-icon icon="search"></fa-icon></button>
                    </form>
                </div>


                <div class="col-4 card">
                    <div class="card-header">Info medecin</div>
                    <div class="card-body">
                        <div *ngIf="medecin == null" class="alert alert-warning">
                            Veuillez rechercher un medecin
                        </div>
                        <div *ngIf="medecin != null">
                            <dl class="row-md jh-entity-details">
                                <dt><span jhiTranslate="hpdApp.patient.codePatient">Code Patient</span></dt>
                                <dd>
                                    <span>{{ medecin.numeroPiece }}</span>
                                </dd>
                                <dt><span jhiTranslate="hpdApp.patient.nomPatient">Nom Patient</span></dt>
                                <dd>
                                    <span>{{ medecin.nomMedecin }}</span>
                                </dd>
                                <dt><span jhiTranslate="hpdApp.patient.prenom">Prenom</span></dt>
                                <dd>
                                    <span>{{ medecin.prenom }}</span>
                                </dd>
                                <dt><span jhiTranslate="hpdApp.patient.adresse">Adresse</span></dt>
                                <dd>
                                    <span>{{ medecin.adresse }}</span>
                                </dd>
                                <dt><span jhiTranslate="hpdApp.patient.email">Email</span></dt>


                            </dl>
                        </div>
                    </div>
                </div>




                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.adresse" for="field_adresse">Adresse</label>
                    <input type="text" class="form-control" name="adresse" id="field_adresse"
                           formControlName="adresse"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.dateNaissance" for="field_dateNaissance">Date Naissance</label>
                    <div class="input-group">
                        <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" ngbDatepicker #dateNaissanceDp="ngbDatepicker" formControlName="dateNaissance"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.genreMedecin" for="field_genreMedecin">Genre Medecin</label>
                    <input type="text" class="form-control" name="genreMedecin" id="field_genreMedecin"
                           formControlName="genreMedecin"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.nationalite" for="field_nationalite">Nationalite</label>
                    <input type="text" class="form-control" name="nationalite" id="field_nationalite"
                           formControlName="nationalite"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.anciennete" for="field_anciennete">Anciennete</label>
                    <input type="number" class="form-control" name="anciennete" id="field_anciennete"
                           formControlName="anciennete"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.numeroPiece" for="field_numeroPiece">Numero Piece</label>
                    <input type="number" class="form-control" name="numeroPiece" id="field_numeroPiece"
                           formControlName="numeroPiece"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.gradeMedecin" for="field_gradeMedecin">Grade Medecin</label>
                    <input type="text" class="form-control" name="gradeMedecin" id="field_gradeMedecin"
                           formControlName="gradeMedecin"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.specialite" for="field_specialite">Specialite</label>
                    <input type="text" class="form-control" name="specialite" id="field_specialite"
                           formControlName="specialite"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.dateEmbauche" for="field_dateEmbauche">Date Embauche</label>
                    <div class="input-group">
                        <input id="field_dateEmbauche" type="text" class="form-control" name="dateEmbauche" ngbDatepicker #dateEmbaucheDp="ngbDatepicker" formControlName="dateEmbauche"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateEmbaucheDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.dateValidite" for="field_dateValidite">Date Validite</label>
                    <div class="input-group">
                        <input id="field_dateValidite" type="text" class="form-control" name="dateValidite" ngbDatepicker #dateValiditeDp="ngbDatepicker" formControlName="dateValidite"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateValiditeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="input-group">
                        <input id="field_dateCreated" type="text" class="form-control" name="dateCreated" ngbDatepicker #dateCreatedDp="ngbDatepicker" formControlName="dateCreated"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateCreatedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.dateUpdated" for="field_dateUpdated">Date Updated</label>
                    <div class="input-group">
                        <input id="field_dateUpdated" type="text" class="form-control" name="dateUpdated" ngbDatepicker #dateUpdatedDp="ngbDatepicker" formControlName="dateUpdated"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateUpdatedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.userCreated" for="field_userCreated">User Created</label>
                    <input type="number" class="form-control" name="userCreated" id="field_userCreated"
                           formControlName="userCreated"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.userUpdated" for="field_userUpdated">User Updated</label>
                    <input type="number" class="form-control" name="userUpdated" id="field_userUpdated"
                           formControlName="userUpdated"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.medecin.userDeleted" for="field_userDeleted">User Deleted</label>
                    <input type="number" class="form-control" name="userDeleted" id="field_userDeleted"
                           formControlName="userDeleted"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
