<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.services.home.title">Services</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-services" [routerLink]="['/services/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.services.home.createLabel">
            Create a new Services
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="services?.length === 0">
        <span jhiTranslate="hpdApp.services.home.notFound">No services found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="services?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="hpdApp.services.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelle"><span jhiTranslate="hpdApp.services.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="hpdApp.services.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.services.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.services.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.services.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.services.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.services.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeServices.id"><span jhiTranslate="hpdApp.services.typeServices">Type Services</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deptServices.id"><span jhiTranslate="hpdApp.services.deptServices">Dept Services</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="specialite.id"><span jhiTranslate="hpdApp.services.specialite">Specialite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="compteGeneral.id"><span jhiTranslate="hpdApp.services.compteGeneral">Compte General</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let services of services ;trackBy: trackId">
                    <td><a [routerLink]="['/services', services.id, 'view']">{{ services.id }}</a></td>
                    <td>{{ services.code }}</td>
                    <td>{{ services.libelle }}</td>
                    <td>{{ services.description | date:'mediumDate' }}</td>
                    <td>{{ services.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ services.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ services.userCreated }}</td>
                    <td>{{ services.userUpdated }}</td>
                    <td>{{ services.userDeleted }}</td>
                    <td>
                        <div *ngIf="services.typeServices">
                            <a [routerLink]="['/type-services', services.typeServices?.id, 'view']" >{{ services.typeServices?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="services.deptServices">
                            <a [routerLink]="['/dept-services', services.deptServices?.id, 'view']" >{{ services.deptServices?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="services.specialite">
                            <a [routerLink]="['/specialite', services.specialite?.id, 'view']" >{{ services.specialite?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="services.compteGeneral">
                            <a [routerLink]="['/compte-gene', services.compteGeneral?.id, 'view']" >{{ services.compteGeneral?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/services', services.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/services', services.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(services)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
