<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.acteMedical.home.title">Acte Medicals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-acte-medical" [routerLink]="['/acte-medical/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.acteMedical.home.createLabel">
            Create a new Acte Medical
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="acteMedicals?.length === 0">
        <span jhiTranslate="hpdApp.acteMedical.home.notFound">No acteMedicals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="acteMedicals?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="hpdApp.acteMedical.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleA"><span jhiTranslate="hpdApp.acteMedical.libelleA">Libelle A</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="hpdApp.acteMedical.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.acteMedical.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.acteMedical.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.acteMedical.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.acteMedical.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.acteMedical.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let acteMedical of acteMedicals ;trackBy: trackId">
                    <td><a [routerLink]="['/acte-medical', acteMedical.id, 'view']">{{ acteMedical.id }}</a></td>
                    <td>{{ acteMedical.code }}</td>
                    <td>{{ acteMedical.libelleA }}</td>
                    <td>{{ acteMedical.description }}</td>
                    <td>{{ acteMedical.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ acteMedical.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ acteMedical.userCreated }}</td>
                    <td>{{ acteMedical.userUpdated }}</td>
                    <td>{{ acteMedical.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/acte-medical', acteMedical.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/acte-medical', acteMedical.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(acteMedical)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
