<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.offre.home.title">Offres</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-offre" [routerLink]="['/offre/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.offre.home.createLabel">
            Create a new Offre
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="offres?.length === 0">
        <span jhiTranslate="hpdApp.offre.home.notFound">No offres found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="offres?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelle"><span jhiTranslate="hpdApp.offre.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="hpdApp.offre.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montant"><span jhiTranslate="hpdApp.offre.montant">Montant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="taxe"><span jhiTranslate="hpdApp.offre.taxe">Taxe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numMarche"><span jhiTranslate="hpdApp.offre.numMarche">Num Marche</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.offre.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.offre.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDeleted"><span jhiTranslate="hpdApp.offre.dateDeleted">Date Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.offre.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.offre.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.offre.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bonDeCommande.id"><span jhiTranslate="hpdApp.offre.bonDeCommande">Bon De Commande</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fournisseur.id"><span jhiTranslate="hpdApp.offre.fournisseur">Fournisseur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let offre of offres ;trackBy: trackId">
                    <td><a [routerLink]="['/offre', offre.id, 'view']">{{ offre.id }}</a></td>
                    <td>{{ offre.libelle | date:'mediumDate' }}</td>
                    <td>{{ offre.date | date:'mediumDate' }}</td>
                    <td>{{ offre.montant }}</td>
                    <td>{{ offre.taxe }}</td>
                    <td>{{ offre.numMarche }}</td>
                    <td>{{ offre.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ offre.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ offre.dateDeleted | date:'mediumDate' }}</td>
                    <td>{{ offre.userCreated }}</td>
                    <td>{{ offre.userUpdated }}</td>
                    <td>{{ offre.userDeleted }}</td>
                    <td>
                        <div *ngIf="offre.bonDeCommande">
                            <a [routerLink]="['/bon-de-commande', offre.bonDeCommande?.id, 'view']" >{{ offre.bonDeCommande?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="offre.fournisseur">
                            <a [routerLink]="['/fournisseur', offre.fournisseur?.id, 'view']" >{{ offre.fournisseur?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/offre', offre.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/offre', offre.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(offre)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
