<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tarif-heading" jhiTranslate="hpdApp.tarif.home.createOrEditLabel">Create or edit a Tarif</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.tarif.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.tarif.libelle" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           formControlName="libelle"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.tarif.montant" for="field_montant">Montant</label>
                    <input type="number" class="form-control" name="montant" id="field_montant"
                           formControlName="montant"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.tarif.pourcentage" for="field_pourcentage">Pourcentage</label>
                    <input type="number" class="form-control" name="pourcentage" id="field_pourcentage"
                           formControlName="pourcentage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.tarif.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="input-group">
                        <input id="field_dateCreated" type="text" class="form-control" name="dateCreated" ngbDatepicker #dateCreatedDp="ngbDatepicker" formControlName="dateCreated"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateCreatedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.tarif.dateUpdated" for="field_dateUpdated">Date Updated</label>
                    <div class="input-group">
                        <input id="field_dateUpdated" type="text" class="form-control" name="dateUpdated" ngbDatepicker #dateUpdatedDp="ngbDatepicker" formControlName="dateUpdated"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateUpdatedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.tarif.dateDeleted" for="field_dateDeleted">Date Deleted</label>
                    <div class="input-group">
                        <input id="field_dateDeleted" type="text" class="form-control" name="dateDeleted" ngbDatepicker #dateDeletedDp="ngbDatepicker" formControlName="dateDeleted"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDeletedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.tarif.userCreated" for="field_userCreated">User Created</label>
                    <input type="number" class="form-control" name="userCreated" id="field_userCreated"
                           formControlName="userCreated"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.tarif.userUpdated" for="field_userUpdated">User Updated</label>
                    <input type="number" class="form-control" name="userUpdated" id="field_userUpdated"
                           formControlName="userUpdated"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.tarif.userDeleted" for="field_userDeleted">User Deleted</label>
                    <input type="number" class="form-control" name="userDeleted" id="field_userDeleted"
                           formControlName="userDeleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.tarif.typeSoins" for="field_typeSoins">Type Soins</label>
                    <select class="form-control" id="field_typeSoins" name="typeSoins" formControlName="typeSoins">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeSoinsOption.id === editForm.get('typeSoins')!.value?.id ? editForm.get('typeSoins')!.value : typeSoinsOption" *ngFor="let typeSoinsOption of typesoins; trackBy: trackById">{{ typeSoinsOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.tarif.sousfamille" for="field_sousfamille">Sousfamille</label>
                    <select class="form-control" id="field_sousfamille" name="sousfamille" formControlName="sousfamille">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sousFamilleOption.id === editForm.get('sousfamille')!.value?.id ? editForm.get('sousfamille')!.value : sousFamilleOption" *ngFor="let sousFamilleOption of sousfamilles; trackBy: trackById">{{ sousFamilleOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.tarif.actemedical" for="field_actemedical">Actemedical</label>
                    <select class="form-control" id="field_actemedical" name="actemedical" formControlName="actemedical">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="acteMedicalOption.id === editForm.get('actemedical')!.value?.id ? editForm.get('actemedical')!.value : acteMedicalOption" *ngFor="let acteMedicalOption of actemedicals; trackBy: trackById">{{ acteMedicalOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.tarif.categorieChambre" for="field_categorieChambre">Categorie Chambre</label>
                    <select class="form-control" id="field_categorieChambre" name="categorieChambre" formControlName="categorieChambre">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="catChambreOption.id === editForm.get('categorieChambre')!.value?.id ? editForm.get('categorieChambre')!.value : catChambreOption" *ngFor="let catChambreOption of catchambres; trackBy: trackById">{{ catChambreOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
