<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeCond">
            <h2><span jhiTranslate="hpdApp.typeCond.detail.title">Type Cond</span> {{ typeCond.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hpdApp.typeCond.code">Code</span></dt>
                <dd>
                    <span>{{ typeCond.code }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.typeCond.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ typeCond.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.typeCond.produit">Produit</span></dt>
                <dd>
                    <div *ngIf="typeCond.produit">
                        <a [routerLink]="['/produit', typeCond.produit?.id, 'view']">{{ typeCond.produit?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-cond', typeCond.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
