<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.facture.home.title">Factures</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-facture" [routerLink]="['/facture/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.facture.home.createLabel">
            Create a new Facture
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="factures?.length === 0">
        <span jhiTranslate="hpdApp.facture.home.notFound">No factures found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="factures?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="designation"><span jhiTranslate="hpdApp.facture.designation">Designation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montantFact"><span jhiTranslate="hpdApp.facture.montantFact">Montant Fact</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montantPaye"><span jhiTranslate="hpdApp.facture.montantPaye">Montant Paye</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montantGlobal"><span jhiTranslate="hpdApp.facture.montantGlobal">Montant Global</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="moratoire"><span jhiTranslate="hpdApp.facture.moratoire">Moratoire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.facture.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.facture.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDeleted"><span jhiTranslate="hpdApp.facture.dateDeleted">Date Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.facture.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.facture.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.facture.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bonLivraison.id"><span jhiTranslate="hpdApp.facture.bonLivraison">Bon Livraison</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let facture of factures ;trackBy: trackId">
                    <td><a [routerLink]="['/facture', facture.id, 'view']">{{ facture.id }}</a></td>
                    <td>{{ facture.designation }}</td>
                    <td>{{ facture.montantFact }}</td>
                    <td>{{ facture.montantPaye }}</td>
                    <td>{{ facture.montantGlobal }}</td>
                    <td>{{ facture.moratoire }}</td>
                    <td>{{ facture.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ facture.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ facture.dateDeleted | date:'mediumDate' }}</td>
                    <td>{{ facture.userCreated }}</td>
                    <td>{{ facture.userUpdated }}</td>
                    <td>{{ facture.userDeleted }}</td>
                    <td>
                        <div *ngIf="facture.bonLivraison">
                            <a [routerLink]="['/bon-livraison', facture.bonLivraison?.id, 'view']" >{{ facture.bonLivraison?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/facture', facture.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/facture', facture.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(facture)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
