<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="etatPlanning">
            <h2><span jhiTranslate="hpdApp.etatPlanning.detail.title">Etat Planning</span> {{ etatPlanning.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hpdApp.etatPlanning.code">Code</span></dt>
                <dd>
                    <span>{{ etatPlanning.code }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.etatPlanning.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ etatPlanning.libelle }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/etat-planning', etatPlanning.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
