<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.classeProd.home.title">Classe Prods</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-classe-prod" [routerLink]="['/classe-prod/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.classeProd.home.createLabel">
            Create a new Classe Prod
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="classeProds?.length === 0">
        <span jhiTranslate="hpdApp.classeProd.home.notFound">No classeProds found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="classeProds?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeClasseProd"><span jhiTranslate="hpdApp.classeProd.codeClasseProd">Code Classe Prod</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleClasseProd"><span jhiTranslate="hpdApp.classeProd.libelleClasseProd">Libelle Classe Prod</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descriptionClasseProd"><span jhiTranslate="hpdApp.classeProd.descriptionClasseProd">Description Classe Prod</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.classeProd.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.classeProd.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.classeProd.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.classeProd.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.classeProd.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let classeProd of classeProds ;trackBy: trackId">
                    <td><a [routerLink]="['/classe-prod', classeProd.id, 'view']">{{ classeProd.id }}</a></td>
                    <td>{{ classeProd.codeClasseProd }}</td>
                    <td>{{ classeProd.libelleClasseProd }}</td>
                    <td>{{ classeProd.descriptionClasseProd }}</td>
                    <td>{{ classeProd.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ classeProd.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ classeProd.userCreated }}</td>
                    <td>{{ classeProd.userUpdated }}</td>
                    <td>{{ classeProd.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/classe-prod', classeProd.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/classe-prod', classeProd.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(classeProd)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
