<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.typeBonCom.home.title">Type Bon Coms</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-bon-com" [routerLink]="['/type-bon-com/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.typeBonCom.home.createLabel">
            Create a new Type Bon Com
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typeBonComs?.length === 0">
        <span jhiTranslate="hpdApp.typeBonCom.home.notFound">No typeBonComs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typeBonComs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleTypeBonCom"><span jhiTranslate="hpdApp.typeBonCom.libelleTypeBonCom">Libelle Type Bon Com</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeTypeBonCom"><span jhiTranslate="hpdApp.typeBonCom.codeTypeBonCom">Code Type Bon Com</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.typeBonCom.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.typeBonCom.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.typeBonCom.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.typeBonCom.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.typeBonCom.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let typeBonCom of typeBonComs ;trackBy: trackId">
                    <td><a [routerLink]="['/type-bon-com', typeBonCom.id, 'view']">{{ typeBonCom.id }}</a></td>
                    <td>{{ typeBonCom.libelleTypeBonCom }}</td>
                    <td>{{ typeBonCom.codeTypeBonCom }}</td>
                    <td>{{ typeBonCom.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ typeBonCom.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ typeBonCom.userCreated }}</td>
                    <td>{{ typeBonCom.userUpdated }}</td>
                    <td>{{ typeBonCom.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/type-bon-com', typeBonCom.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/type-bon-com', typeBonCom.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(typeBonCom)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
