<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.typePatient.home.title">Type Patients</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-patient" [routerLink]="['/type-patient/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.typePatient.home.createLabel">
            Create a new Type Patient
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typePatients?.length === 0">
        <span jhiTranslate="hpdApp.typePatient.home.notFound">No typePatients found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typePatients?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeTypePatient"><span jhiTranslate="hpdApp.typePatient.codeTypePatient">Code Type Patient</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleTypePatient"><span jhiTranslate="hpdApp.typePatient.libelleTypePatient">Libelle Type Patient</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.typePatient.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.typePatient.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.typePatient.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.typePatient.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.typePatient.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let typePatient of typePatients ;trackBy: trackId">
                    <td><a [routerLink]="['/type-patient', typePatient.id, 'view']">{{ typePatient.id }}</a></td>
                    <td>{{ typePatient.codeTypePatient }}</td>
                    <td>{{ typePatient.libelleTypePatient }}</td>
                    <td>{{ typePatient.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ typePatient.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ typePatient.userCreated }}</td>
                    <td>{{ typePatient.userUpdated }}</td>
                    <td>{{ typePatient.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/type-patient', typePatient.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/type-patient', typePatient.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(typePatient)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
