
<div id="dc-sidebarwrapper" class="dc-sidebarwrapper">
    <div id="dc-btnmenutoggle" class="dc-btnmenutoggle">
        <i class="ti-arrow-right"></i>
    </div>
    <div id="dc-verticalscrollbar" class="dc-verticalscrollbar">
        <div class="dc-companysdetails dc-usersidebar">
            <figure class="dc-companysimg">
                <img src="" alt="avatar">
            </figure>

            <div class="dc-companysinfo">
                <figure><img src="https://www.osteovision.ch/img/profile.png" alt="avatar"></figure>
                <div class="dc-title">
                    <h2><a href="">Moustapha Cissé</a></h2>
                    <span>@mustafa<i class="fa fa-clone"></i></span>
                </div>
            </div>
        </div>
        <nav id="dc-navdashboard" class="dc-navdashboard">
            <ul class="dashboard-menu-left">
                <li class="">
                    <a href="">
                        <i class="ti-desktop"></i>
                        <span>Tableau de bord</span>
                    </a>
                </li>
                <li class="">
                    <a href="">
                        <i class="ti-email"></i>
                        <span>Messagerie</span>
                    </a>
                </li>
                <li class="">
                    <a href="">
                        <i class="ti-settings"></i>
                        <span>Paramètres de profil</span>
                    </a>
                </li>
                <li class="">
                    <a href="">
                        <i class="ti-panel"></i>
                        <span>Paramètres du compte</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class="ti-shift-right"></i>
                        <span>Se déconnecter</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="dc-navdashboard-footer">
            <span>Copyrights © 2020 par <span>Novatech-SA</span></span>
        </div>
    </div>
</div>

