<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.typeNotif.home.title">Type Notifs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-notif" [routerLink]="['/type-notif/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.typeNotif.home.createLabel">
            Create a new Type Notif
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typeNotifs?.length === 0">
        <span jhiTranslate="hpdApp.typeNotif.home.notFound">No typeNotifs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typeNotifs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeTypeNotif"><span jhiTranslate="hpdApp.typeNotif.codeTypeNotif">Code Type Notif</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleTypeNotif"><span jhiTranslate="hpdApp.typeNotif.libelleTypeNotif">Libelle Type Notif</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.typeNotif.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.typeNotif.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.typeNotif.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.typeNotif.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.typeNotif.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let typeNotif of typeNotifs ;trackBy: trackId">
                    <td><a [routerLink]="['/type-notif', typeNotif.id, 'view']">{{ typeNotif.id }}</a></td>
                    <td>{{ typeNotif.codeTypeNotif }}</td>
                    <td>{{ typeNotif.libelleTypeNotif }}</td>
                    <td>{{ typeNotif.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ typeNotif.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ typeNotif.userCreated }}</td>
                    <td>{{ typeNotif.userUpdated }}</td>
                    <td>{{ typeNotif.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/type-notif', typeNotif.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/type-notif', typeNotif.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(typeNotif)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
