

    <header id="dc-header" class="dc-header dc-haslayout dc-header-dashboard">
        <div class="dc-navigationarea">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="hidpi-logowrap">
                            <strong class="dc-logo">

                                    <img class="logo" [src]="image" alt="LOGO HPD">

                            </strong>
                            <div class="dc-rightarea">
                                <nav id="dc-nav" class="dc-nav navbar-expand-lg">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                        <i class="lnr lnr-menu"></i>
                                    </button>
                                    <div class="collapse navbar-collapse dc-navigation" id="navbarNav">
                                        <ul id="menu-header-menu" class="navbar-nav">
                                            <li id="menu-item-199" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-199">
                                                <a routerLink="/menu/planning">Planning médecin</a>
                                            </li>
                                            <li id="menu-item-1423" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-1423">
                                                <a routerLink="/menu/rdv">Rendez-vous</a>
                                            </li>
                                            <li id="menu-item-155" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-155">
                                                <a routerLink="/menu/patient">Gestion des patients</a>
                                            </li>
                                            <li id="menu-item-156" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-155">
                                                <a  routerLink="/menu/hospitalisation">Hospitalisation</a>
                                            </li>
                                            <li id="menu-item-152" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-155">
                                                <a  routerLink="/menu/medecin">Medecin</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                                <div class="dc-userlogin dc-userlogedin sp-top-menu">
                                    <figure class="dc-userimg">
                                        <img src="https://www.osteovision.ch/img/profile.png" alt="Profile Avatar">
                                    </figure>
                                    <div class="dc-username">
                                        <h4>Moustapha</h4>
                                        <span>Gynécologie</span>
                                    </div>
                                    <nav class="dc-usernav">
                                        <ul class="dashboard-menu-top">
                                            <li class="">
                                                <a href="">
                                                    <i class="ti-settings"></i>
                                                    <span>Paramètres profil</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="ti-shift-right"></i>
                                                    <span>Se déconnecter</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
