<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-annotation-heading" jhiTranslate="hpdApp.annotation.home.createOrEditLabel">Create or edit a Annotation</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.annotation.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.annotation.note" for="field_note">Note</label>
                    <input type="number" class="form-control" name="note" id="field_note"
                           formControlName="note"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.annotation.observation" for="field_observation">Observation</label>
                    <input type="text" class="form-control" name="observation" id="field_observation"
                           formControlName="observation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.annotation.nbQuestions" for="field_nbQuestions">Nb Questions</label>
                    <input type="number" class="form-control" name="nbQuestions" id="field_nbQuestions"
                           formControlName="nbQuestions"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.annotation.moyenne" for="field_moyenne">Moyenne</label>
                    <input type="number" class="form-control" name="moyenne" id="field_moyenne"
                           formControlName="moyenne"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.annotation.dateDeleted" for="field_dateDeleted">Date Deleted</label>
                    <div class="d-flex">
                        <input id="field_dateDeleted" type="datetime-local" class="form-control" name="dateDeleted" formControlName="dateDeleted" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.annotation.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" formControlName="dateCreated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.annotation.dateUpdated" for="field_dateUpdated">Date Updated</label>
                    <div class="d-flex">
                        <input id="field_dateUpdated" type="datetime-local" class="form-control" name="dateUpdated" formControlName="dateUpdated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.annotation.userCreated" for="field_userCreated">User Created</label>
                    <input type="number" class="form-control" name="userCreated" id="field_userCreated"
                           formControlName="userCreated"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.annotation.userUpdate" for="field_userUpdate">User Update</label>
                    <input type="number" class="form-control" name="userUpdate" id="field_userUpdate"
                           formControlName="userUpdate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.annotation.userDelete" for="field_userDelete">User Delete</label>
                    <input type="number" class="form-control" name="userDelete" id="field_userDelete"
                           formControlName="userDelete"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.annotation.questionnaire" for="field_questionnaire">Questionnaire</label>
                    <select class="form-control" id="field_questionnaire" name="questionnaire" formControlName="questionnaire">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionnaireOption.id === editForm.get('questionnaire')!.value?.id ? editForm.get('questionnaire')!.value : questionnaireOption" *ngFor="let questionnaireOption of questionnaires; trackBy: trackById">{{ questionnaireOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
