<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.etatOperation.home.title">Etat Operations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-etat-operation" [routerLink]="['/etat-operation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.etatOperation.home.createLabel">
            Create a new Etat Operation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="etatOperations?.length === 0">
        <span jhiTranslate="hpdApp.etatOperation.home.notFound">No etatOperations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="etatOperations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="hpdApp.etatOperation.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelle"><span jhiTranslate="hpdApp.etatOperation.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.etatOperation.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.etatOperation.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDeleted"><span jhiTranslate="hpdApp.etatOperation.dateDeleted">Date Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.etatOperation.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.etatOperation.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.etatOperation.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let etatOperation of etatOperations ;trackBy: trackId">
                    <td><a [routerLink]="['/etat-operation', etatOperation.id, 'view']">{{ etatOperation.id }}</a></td>
                    <td>{{ etatOperation.code }}</td>
                    <td>{{ etatOperation.libelle }}</td>
                    <td>{{ etatOperation.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ etatOperation.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ etatOperation.dateDeleted | date:'mediumDate' }}</td>
                    <td>{{ etatOperation.userCreated }}</td>
                    <td>{{ etatOperation.userUpdated }}</td>
                    <td>{{ etatOperation.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/etat-operation', etatOperation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/etat-operation', etatOperation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(etatOperation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
