<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.etatImmo.home.title">Etat Immos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-etat-immo" [routerLink]="['/etat-immo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.etatImmo.home.createLabel">
            Create a new Etat Immo
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="etatImmos?.length === 0">
        <span jhiTranslate="hpdApp.etatImmo.home.notFound">No etatImmos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="etatImmos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeEtat"><span jhiTranslate="hpdApp.etatImmo.codeEtat">Code Etat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleEtat"><span jhiTranslate="hpdApp.etatImmo.libelleEtat">Libelle Etat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.etatImmo.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.etatImmo.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDeleted"><span jhiTranslate="hpdApp.etatImmo.dateDeleted">Date Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.etatImmo.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.etatImmo.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.etatImmo.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let etatImmo of etatImmos ;trackBy: trackId">
                    <td><a [routerLink]="['/etat-immo', etatImmo.id, 'view']">{{ etatImmo.id }}</a></td>
                    <td>{{ etatImmo.codeEtat }}</td>
                    <td>{{ etatImmo.libelleEtat }}</td>
                    <td>{{ etatImmo.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ etatImmo.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ etatImmo.dateDeleted | date:'mediumDate' }}</td>
                    <td>{{ etatImmo.userCreated }}</td>
                    <td>{{ etatImmo.userUpdated }}</td>
                    <td>{{ etatImmo.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/etat-immo', etatImmo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/etat-immo', etatImmo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(etatImmo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
