<!--<div class="preloader-outer">-->
<!--    <div class="dc-preloader-holder">-->
<!--        <div class="dc-loader"></div>-->
<!--    </div>-->
<!--</div>-->
<div id="dc-wrapper" class="dc-wrapper dc-haslayout">
    <jhi-navbar-menu></jhi-navbar-menu>
    <main id="dc-main" class="dc-main dc-haslayout">
        <jhi-sidebar-menu></jhi-sidebar-menu>
        <section class="dc-haslayout dc-dbsectionspace">
            <router-outlet></router-outlet>
        </section>
    </main>
</div>

<!--<jhi-footer-menu></jhi-footer-menu>-->
