<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.paramCode.home.title">Param Codes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-param-code" [routerLink]="['/param-code/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.paramCode.home.createLabel">
            Create a new Param Code
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="paramCodes?.length === 0">
        <span jhiTranslate="hpdApp.paramCode.home.notFound">No paramCodes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="paramCodes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeParamCode"><span jhiTranslate="hpdApp.paramCode.codeParamCode">Code Param Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleParamCode"><span jhiTranslate="hpdApp.paramCode.libelleParamCode">Libelle Param Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descriptionParamCode"><span jhiTranslate="hpdApp.paramCode.descriptionParamCode">Description Param Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.paramCode.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.paramCode.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.paramCode.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.paramCode.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.paramCode.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let paramCode of paramCodes ;trackBy: trackId">
                    <td><a [routerLink]="['/param-code', paramCode.id, 'view']">{{ paramCode.id }}</a></td>
                    <td>{{ paramCode.codeParamCode }}</td>
                    <td>{{ paramCode.libelleParamCode }}</td>
                    <td>{{ paramCode.descriptionParamCode }}</td>
                    <td>{{ paramCode.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ paramCode.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ paramCode.userCreated }}</td>
                    <td>{{ paramCode.userUpdated }}</td>
                    <td>{{ paramCode.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/param-code', paramCode.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/param-code', paramCode.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(paramCode)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
