<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paramCode">
            <h2><span jhiTranslate="hpdApp.paramCode.detail.title">Param Code</span> {{ paramCode.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hpdApp.paramCode.codeParamCode">Code Param Code</span></dt>
                <dd>
                    <span>{{ paramCode.codeParamCode }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.paramCode.libelleParamCode">Libelle Param Code</span></dt>
                <dd>
                    <span>{{ paramCode.libelleParamCode }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.paramCode.descriptionParamCode">Description Param Code</span></dt>
                <dd>
                    <span>{{ paramCode.descriptionParamCode }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.paramCode.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ paramCode.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.paramCode.dateUpdated">Date Updated</span></dt>
                <dd>
                    <span>{{ paramCode.dateUpdated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.paramCode.userCreated">User Created</span></dt>
                <dd>
                    <span>{{ paramCode.userCreated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.paramCode.userUpdated">User Updated</span></dt>
                <dd>
                    <span>{{ paramCode.userUpdated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.paramCode.userDeleted">User Deleted</span></dt>
                <dd>
                    <span>{{ paramCode.userDeleted }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/param-code', paramCode.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
