<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.catChambre.home.title">Cat Chambres</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cat-chambre" [routerLink]="['/cat-chambre/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.catChambre.home.createLabel">
            Create a new Cat Chambre
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="catChambres?.length === 0">
        <span jhiTranslate="hpdApp.catChambre.home.notFound">No catChambres found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="catChambres?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleCatChambre"><span jhiTranslate="hpdApp.catChambre.libelleCatChambre">Libelle Cat Chambre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descriptionCatChambre"><span jhiTranslate="hpdApp.catChambre.descriptionCatChambre">Description Cat Chambre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.catChambre.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.catChambre.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.catChambre.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.catChambre.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.catChambre.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="serv.id"><span jhiTranslate="hpdApp.catChambre.serv">Serv</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let catChambre of catChambres ;trackBy: trackId">
                    <td><a [routerLink]="['/cat-chambre', catChambre.id, 'view']">{{ catChambre.id }}</a></td>
                    <td>{{ catChambre.libelleCatChambre }}</td>
                    <td>{{ catChambre.descriptionCatChambre }}</td>
                    <td>{{ catChambre.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ catChambre.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ catChambre.userCreated }}</td>
                    <td>{{ catChambre.userUpdated }}</td>
                    <td>{{ catChambre.userDeleted }}</td>
                    <td>
                        <div *ngIf="catChambre.serv">
                            <a [routerLink]="['/services', catChambre.serv?.id, 'view']" >{{ catChambre.serv?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cat-chambre', catChambre.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cat-chambre', catChambre.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(catChambre)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
