<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeTarif">
            <h2><span jhiTranslate="hpdApp.typeTarif.detail.title">Type Tarif</span> {{ typeTarif.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hpdApp.typeTarif.code">Code</span></dt>
                <dd>
                    <span>{{ typeTarif.code }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.typeTarif.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ typeTarif.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.typeTarif.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ typeTarif.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.typeTarif.dateUpdated">Date Updated</span></dt>
                <dd>
                    <span>{{ typeTarif.dateUpdated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.typeTarif.dateDeleted">Date Deleted</span></dt>
                <dd>
                    <span>{{ typeTarif.dateDeleted }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.typeTarif.userCreated">User Created</span></dt>
                <dd>
                    <span>{{ typeTarif.userCreated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.typeTarif.userUpdated">User Updated</span></dt>
                <dd>
                    <span>{{ typeTarif.userUpdated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.typeTarif.userDeleted">User Deleted</span></dt>
                <dd>
                    <span>{{ typeTarif.userDeleted }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-tarif', typeTarif.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
