<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.typePlateau.home.title">Type Plateaus</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-plateau" [routerLink]="['/type-plateau/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.typePlateau.home.createLabel">
            Create a new Type Plateau
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typePlateaus?.length === 0">
        <span jhiTranslate="hpdApp.typePlateau.home.notFound">No typePlateaus found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typePlateaus?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeTypePlateau"><span jhiTranslate="hpdApp.typePlateau.codeTypePlateau">Code Type Plateau</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleTypePlateau"><span jhiTranslate="hpdApp.typePlateau.libelleTypePlateau">Libelle Type Plateau</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.typePlateau.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.typePlateau.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.typePlateau.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.typePlateau.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.typePlateau.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let typePlateau of typePlateaus ;trackBy: trackId">
                    <td><a [routerLink]="['/type-plateau', typePlateau.id, 'view']">{{ typePlateau.id }}</a></td>
                    <td>{{ typePlateau.codeTypePlateau }}</td>
                    <td>{{ typePlateau.libelleTypePlateau }}</td>
                    <td>{{ typePlateau.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ typePlateau.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ typePlateau.userCreated }}</td>
                    <td>{{ typePlateau.userUpdated }}</td>
                    <td>{{ typePlateau.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/type-plateau', typePlateau.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/type-plateau', typePlateau.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(typePlateau)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
