<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.resultatActe.home.title">Resultat Actes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-resultat-acte" [routerLink]="['/resultat-acte/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.resultatActe.home.createLabel">
            Create a new Resultat Acte
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="resultatActes?.length === 0">
        <span jhiTranslate="hpdApp.resultatActe.home.notFound">No resultatActes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="resultatActes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numero"><span jhiTranslate="hpdApp.resultatActe.numero">Numero</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="resultat"><span jhiTranslate="hpdApp.resultatActe.resultat">Resultat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="hpdApp.resultatActe.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="hpdApp.resultatActe.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.resultatActe.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.resultatActe.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.resultatActe.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.resultatActe.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.resultatActe.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ficheMedical.id"><span jhiTranslate="hpdApp.resultatActe.ficheMedical">Fiche Medical</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let resultatActe of resultatActes ;trackBy: trackId">
                    <td><a [routerLink]="['/resultat-acte', resultatActe.id, 'view']">{{ resultatActe.id }}</a></td>
                    <td>{{ resultatActe.numero }}</td>
                    <td>{{ resultatActe.resultat }}</td>
                    <td>{{ resultatActe.date | date:'mediumDate' }}</td>
                    <td>{{ resultatActe.description }}</td>
                    <td>{{ resultatActe.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ resultatActe.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ resultatActe.userCreated }}</td>
                    <td>{{ resultatActe.userUpdated }}</td>
                    <td>{{ resultatActe.userDeleted }}</td>
                    <td>
                        <div *ngIf="resultatActe.ficheMedical">
                            <a [routerLink]="['/fiche-medical', resultatActe.ficheMedical?.id, 'view']" >{{ resultatActe.ficheMedical?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/resultat-acte', resultatActe.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/resultat-acte', resultatActe.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(resultatActe)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
