<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.typeServices.home.title">Type Services</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-services" [routerLink]="['/type-services/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.typeServices.home.createLabel">
            Create a new Type Services
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typeServices?.length === 0">
        <span jhiTranslate="hpdApp.typeServices.home.notFound">No typeServices found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typeServices?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeTypeSrv"><span jhiTranslate="hpdApp.typeServices.codeTypeSrv">Code Type Srv</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleTypeSrv"><span jhiTranslate="hpdApp.typeServices.libelleTypeSrv">Libelle Type Srv</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.typeServices.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.typeServices.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.typeServices.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.typeServices.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.typeServices.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let typeServices of typeServices ;trackBy: trackId">
                    <td><a [routerLink]="['/type-services', typeServices.id, 'view']">{{ typeServices.id }}</a></td>
                    <td>{{ typeServices.codeTypeSrv }}</td>
                    <td>{{ typeServices.libelleTypeSrv }}</td>
                    <td>{{ typeServices.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ typeServices.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ typeServices.userCreated }}</td>
                    <td>{{ typeServices.userUpdated }}</td>
                    <td>{{ typeServices.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/type-services', typeServices.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/type-services', typeServices.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(typeServices)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
