<div>
    <h2 id="page-heading">
        <span jhiTranslate="hpdApp.typeSortie.home.title">Type Sorties</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-sortie" [routerLink]="['/type-sortie/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hpdApp.typeSortie.home.createLabel">
            Create a new Type Sortie
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typeSorties?.length === 0">
        <span jhiTranslate="hpdApp.typeSortie.home.notFound">No typeSorties found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typeSorties?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeTypeSortie"><span jhiTranslate="hpdApp.typeSortie.codeTypeSortie">Code Type Sortie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleTypeSortie"><span jhiTranslate="hpdApp.typeSortie.libelleTypeSortie">Libelle Type Sortie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="hpdApp.typeSortie.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="hpdApp.typeSortie.dateUpdated">Date Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreated"><span jhiTranslate="hpdApp.typeSortie.userCreated">User Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userUpdated"><span jhiTranslate="hpdApp.typeSortie.userUpdated">User Updated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userDeleted"><span jhiTranslate="hpdApp.typeSortie.userDeleted">User Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let typeSortie of typeSorties ;trackBy: trackId">
                    <td><a [routerLink]="['/type-sortie', typeSortie.id, 'view']">{{ typeSortie.id }}</a></td>
                    <td>{{ typeSortie.codeTypeSortie }}</td>
                    <td>{{ typeSortie.libelleTypeSortie }}</td>
                    <td>{{ typeSortie.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ typeSortie.dateUpdated | date:'mediumDate' }}</td>
                    <td>{{ typeSortie.userCreated }}</td>
                    <td>{{ typeSortie.userUpdated }}</td>
                    <td>{{ typeSortie.userDeleted }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/type-sortie', typeSortie.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/type-sortie', typeSortie.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(typeSortie)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
