<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeChamps">
            <h2><span jhiTranslate="hpdApp.typeChamps.detail.title">Type Champs</span> {{ typeChamps.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hpdApp.typeChamps.codeTypeChamps">Code Type Champs</span></dt>
                <dd>
                    <span>{{ typeChamps.codeTypeChamps }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.typeChamps.libelleTypeChamps">Libelle Type Champs</span></dt>
                <dd>
                    <span>{{ typeChamps.libelleTypeChamps }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.typeChamps.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ typeChamps.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.typeChamps.dateUpdated">Date Updated</span></dt>
                <dd>
                    <span>{{ typeChamps.dateUpdated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.typeChamps.userCreated">User Created</span></dt>
                <dd>
                    <span>{{ typeChamps.userCreated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.typeChamps.userUpdated">User Updated</span></dt>
                <dd>
                    <span>{{ typeChamps.userUpdated }}</span>
                </dd>
                <dt><span jhiTranslate="hpdApp.typeChamps.userDeleted">User Deleted</span></dt>
                <dd>
                    <span>{{ typeChamps.userDeleted }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-champs', typeChamps.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
