<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-question-heading" jhiTranslate="hpdApp.question.home.createOrEditLabel">Create or edit a Question</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.question.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.question.libelle" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           formControlName="libelle"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.question.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.question.obligatoire" for="field_obligatoire">Obligatoire</label>
                    <input type="checkbox" class="form-control" name="obligatoire" id="field_obligatoire"
                           formControlName="obligatoire"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.question.dateDeleted" for="field_dateDeleted">Date Deleted</label>
                    <div class="d-flex">
                        <input id="field_dateDeleted" type="datetime-local" class="form-control" name="dateDeleted" formControlName="dateDeleted" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.question.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" formControlName="dateCreated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.question.dateUpdated" for="field_dateUpdated">Date Updated</label>
                    <div class="d-flex">
                        <input id="field_dateUpdated" type="datetime-local" class="form-control" name="dateUpdated" formControlName="dateUpdated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.question.userCreated" for="field_userCreated">User Created</label>
                    <input type="number" class="form-control" name="userCreated" id="field_userCreated"
                           formControlName="userCreated"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.question.userUpdate" for="field_userUpdate">User Update</label>
                    <input type="number" class="form-control" name="userUpdate" id="field_userUpdate"
                           formControlName="userUpdate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.question.userDelete" for="field_userDelete">User Delete</label>
                    <input type="number" class="form-control" name="userDelete" id="field_userDelete"
                           formControlName="userDelete"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.question.questionnaire" for="field_questionnaire">Questionnaire</label>
                    <select class="form-control" id="field_questionnaire" name="questionnaire" formControlName="questionnaire">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionnaireOption.id === editForm.get('questionnaire')!.value?.id ? editForm.get('questionnaire')!.value : questionnaireOption" *ngFor="let questionnaireOption of questionnaires; trackBy: trackById">{{ questionnaireOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hpdApp.question.typeQuestion" for="field_typeQuestion">Type Question</label>
                    <select class="form-control" id="field_typeQuestion" name="typeQuestion" formControlName="typeQuestion">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeQuestionOption.id === editForm.get('typeQuestion')!.value?.id ? editForm.get('typeQuestion')!.value : typeQuestionOption" *ngFor="let typeQuestionOption of typequestions; trackBy: trackById">{{ typeQuestionOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
